__pycache__
/**/__pycache__
.ipynb_checkpoints
/**/.ipynb_checkpoints
**/*.ipynb_checkpoints/
venv/
mesoSPIM/test/fixtures/
*.log
*.bin
.idea
mesoSPIM/legacy/*
mesoSPIM/src/devices/zoom/dynamixel/*
mesoSPIM/PI_GCS2_DLL_x64.dll
prototypes/orcas/*.tif
prototypes/python-essentials/temp\.tif
mesoSPIM/config/etl_parameters/*
mesoSPIM/config/*
!mesoSPIM/config/demo_config.py

mesoSPIM/src/mesoSPIM_DemoSerial\.py
mesoSPIM/src/devices/zoom/dynamixel\.zip

mesoSPIM/acq/
mesoSPIM/tmp/

!mesoSPIM/tmp/readme.txt
*.DS_Store

*.dll
*.bat
