__pycache__
/**/__pycache__
.ipynb_checkpoints
/**/.ipynb_checkpoints
**/*.ipynb_checkpoints/
venv/
mesoSPIM/test/fixtures/
*.log
*.bin
.idea
mesoSPIM/legacy/*
prototypes/orcas/*.tif
prototypes/python-essentials/temp\.tif
mesoSPIM/config/etl_parameters/*
mesoSPIM/config/*
!mesoSPIM/config/demo_config.py
mesoSPIM/acq/
mesoSPIM/tmp/
mesoSPIM/test/fixtures/
!mesoSPIM/tmp/readme.txt
*.DS_Store
.gitignore
*.bat
!mesoSPIM/start_mesoSPIM.bat
mesospim_control.egg-info
