__pycache__
/**/__pycache__
.ipynb_checkpoints
/**/.ipynb_checkpoints
**/*.ipynb_checkpoints/
mesoSPIM/legacy/*
tmp/*
/tmp/*
*.log
mesoSPIM/src/devices/zoom/dynamixel/*
mesoSPIM/PI_GCS2_DLL_x64.dll
.idea
prototypes/orcas/*.tif
*.bin

prototypes/python-essentials/temp\.tif

mesoSPIM/src/devices/stages/galil/gclib/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib/__init__\.py

mesoSPIM/config/etl_parameters/ETL-parameters - Fabian - DBE - H45\.csv

mesoSPIM/src/devices/stages/galil/gclib/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib/__init__\.py

mesoSPIM/config/etl_parameters/ETL-parameters - Fabian - DBE - H45\.csv


mesoSPIM/src/mesoSPIM_DemoSerial\.py


mesoSPIM/src/devices/stages/galil/gclib/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib\.py

mesoSPIM/src/devices/stages/galil/gclib/__init__\.py

mesoSPIM/config/etl_parameters/ETL-parameters - Fabian - DBE - H45\.csv

*.log

mesoSPIM/src/devices/zoom/dynamixel\.zip