csv
traceback
pprint
ctypes
importlib
argparse
glob
numpy==1.16.2
scipy==1.2.1
PyQt5==5.13.1
nidaqmx==0.5.7
indexed==0.0.1
pyserial==3.4
pyqtgraph==0.10.0
pywinusb==0.4.2
tifffile==2019.7.26
qdarkstyle==2.8.1
npy2bdv==1.0.7
