numpy==1.17.0
scipy==1.2.1
PyQt5==5.13.1
PyQt5-sip==12.7.0
nidaqmx==0.5.7
indexed==1.2.1
pipython==2.5.1.3
pyserial==3.4
pyqtgraph>=0.12.3
pywinusb==0.4.2
tifffile==2021.7.2
qdarkstyle==2.8.1
npy2bdv>=1.0.8
future==0.18.2
psutil==5.9.4

