numpy==1.21.6
scipy==1.7.3
PyQt5==5.13.2
PyQt5-sip==12.13.0
nidaqmx==0.8.0
indexed==1.3.0
pipython==2.10.2.1
pyserial==3.5
pyqtgraph==0.12.4
pywinusb==0.4.2
tifffile==2021.11.2
qdarkstyle==3.2.3
npy2bdv==1.0.8
future==1.0.0
matplotlib==3.5.2

